<!-- <form>
  <input type="text" [(ngModel)]="name" name="name" placeholder="Name">
  <br><br>

  <input type="text" [(ngModel)]="phone" name="phone" placeholder="Phone">
  <br><br>

  <input type="email" [(ngModel)]="email" name="email" placeholder="Email">
  <br><br>

  <button type="button" (click)="addContact()">Add Data</button>

</form> -->
<form>
  <input
    [(ngModel)]="name"
    name="name"
    placeholder="Name">

  <input
    [(ngModel)]="phone"
    name="phone"
    placeholder="Mobile Number">

  <div class="error" *ngIf="phoneError">
    Mobile number must be 10 digits
  </div>

  <input
    [(ngModel)]="email"
    name="email"
    placeholder="Email">

  <div class="error" *ngIf="emailError">
    Invalid email format
  </div>

  <button type="button" (click)="submit()">
    {{ editContactData ? 'Update' : 'Add' }}
  </button>
</form>
